.modalButtonWrapper {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
}

.modalInput {
    width: 100%;
}

.record {
    width: 100%;
}

.close {
    width: 45%;
    background-color: #f7efd8;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 0.75rem;
}

.modalInputIcon {
    margin-top: 0 !important;
}

.modalH1 {
    color: #f7efd8;
}
