.modalButtonWrapper {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
}

.modalInput {
    width: 100%;
}

.record {
    width: 100%;
}

.close {
    width: 45%;
    background-color: #232225;
    color: #f7efd8;
    border: 2px solid #ada897;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 0.8rem;
}

.modalInputIcon {
    margin-top: 0 !important;
}

.modalH1 {
    color: #f7efd8;
}

#dateHourWrapper {
    display: flex;
    gap: .5rem;
}

dialog[open] {
    animation: fadein .3s ease-in forwards;
  }
  
  @keyframes fadein{
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
  }
